.selected__item {
	display: flex;
	height: 40px;
	width: 400px;
	min-width: 400px;
	align-items: center;
	transition: all 0.3s ease-in-out;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.selected__item:hover {
	background-color: #dda15e;
}

.selected__item__name {
	width: 450px;
}

.selected__item__X {
	margin-right: 10px;
	display: flex;
	justify-content: center;
	margin-left: 10px;
	cursor: pointer;
}

.selected__item__buttons__wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
}

.selected__item__button {
	height: 40px;
	width: 40px;
	background-color: #dda15e;
	border: none;

	cursor: pointer;
	/* margin-left: 30px; */
}

.selected__item__button:hover {
	background-color: rgba(96, 108, 56, 1);
}

.selected__item__count {
	border: none;
	height: 40px;
	width: 40px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dda15e;
	/* border-top-right-radius: 10px;
	border-bottom-right-radius: 10px; */
}

.selected__item__count:hover {
	background-color: lightgrey;
	color: white;
}
