.search {
	/* display: none; */
	width: 100%;
	margin-top: 20px;
}

.search__input {
	background-color: #fefae0;
	width: 100%;
	height: 40px;
	border: none;
	padding: 0 20px;
	font-size: 16px;
	outline: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-transform: uppercase;
}

.search__input__empty {
	border-radius: 10px;
}
